
/* 
    Created on : Oct 18, 2023, 8:04:10 PM
    Author     : jonb
*/
.button{
    -fx-background-color: #FFD359;
    -fx-background-radius: 1000 1000 1000 1000;
    -fx-text-fill: White;  
    -fx-font-weight: bold;
}
.button:hover{
    -fx-background-color: #FFE08B;
    -fx-width: 50px;
    -fix-height: 50px;
    -fx-font: 20px "System";
    -fx-text-fill: White;  
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.button:pressed{
     -fx-background-color: #FFD359;
     -fx-width: 50px;
     -fix-height: 50px;
     -fx-font: 20px "System";
     -fx-text-fill: White;  
     -fx-font-weight: bold;
}


