
/* 
    Created on : Oct 18, 2023, 7:07:26 PM
    Author     : jonb
//#e0e0e0
*/


Button {
    -fx-background-color: transparent;
    -fx-text-fill: #333;
    -fx-font-size: 14px;
    -fx-padding: 15px;
    -fx-cursor: hand;
    -fx-font-family: "Helvetica"; 
    
    
}

Button:hover {
    -fx-background-color:lightyellow;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-scale-z: 1.05;
    -fx-underline:true;
    
    
}

ChoiceBox {
    -fx-max-width: 100%;
}

Separator {
    -fx-margin: 100px;
}

VBox{
    -fx-background-color:white;
}
